<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179319785860-fstn8su22pdqt865qcirqgjbjta2vo78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179319785860-fstn8su22pdqt865qcirqgjbjta2vo78</string>
	<key>API_KEY</key>
	<string>AIzaSyB66cISLPeucP9KP_fiz4e182T7g_Utx2g</string>
	<key>GCM_SENDER_ID</key>
	<string>179319785860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.making.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynote-flutt1</string>
	<key>STORAGE_BUCKET</key>
	<string>mynote-flutt1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179319785860:ios:245ba58f3b796a476bb5d1</string>
</dict>
</plist>